@import "./Tile";
@import "./Board";
@import "./Popup";
body {
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(188, 219, 229);
  text-align: center;
  .alert-message {
    position: fixed;
    background-color: red;
    top: 0;
    right: 0;
    font-size: 40px;
    padding: 10px;
    border: solid black 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
